//
//  General Config.xcconfig
//  DocB
//
//  Created by Morris Richman on 4/1/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME[sdk=xros*] = AccentColor_visionOS
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME[sdk=xrsimulator*] = AccentColor_visionOS
